<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer</h1>
    <form method="POST", action="final_pig"> 
      <input type="text", name="name", placeholder="enter your words">
      <button type="submit", id="submit"> Submit </button>
    </form>
  
  </body>
</html>