<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
    <form method="POST", action="piglatinize"> 
      <input type="text", name="user_phrase", placeholder="Enter your phrase:">
      <button type="submit", id="submit"> Submit </button>
      
    </form>
  
  </body>
</html>